<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
  <h1>Supported Games</h1>
  <div class="row col-sm-3">
    
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Add listing here</label>
        <form action="{{url_for('addlist')}}" method="POST">
          {% for game in games %}
            <input type="radio" name="game" value="{{game['name']}}">{{game['name']}}</input>&nbsp;&nbsp;
         {% endfor %}
        </select><br><br>
        <input type="text" class="form-control" name="username" placeholder="username">
        <input type="password" class="form-control" name="password" placeholder="password">
        <input type="text" class="form-control" name="listing" placeholder="listing name">
        <input type="text" class="form-control" name="amount" placeholder="amount (USD)">
        <input type="text" class="form-control" name="walletid" placeholder="wallet id">
        <button type="submit" class="btn btn-primary">Post Listing</button>
      </form>
      </div>
    </div>

</div>
      <a href ="/">return to home</a>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>