<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>PhoneBook Table</title>
</head>
<body>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Phone no.</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Social Media</th>
          </tr>
        </thead>
        <tbody>
        {% for row in rows %}
          <tr>
            <th scope="row">{{row["phone_no"]}}</th>
            <td>{{row["name"]}}</td>
            <td>{{row["addr"]}}</td>
            <td>{{row["social_media"]}}</td>
        {% endfor %}
          </tr>
        </tbody>
      </table>
      <h1>Add a user to the phonebook</h1>
      <form action = "{{ url_for('postphone') }}" method = "POST">
              <div class="form-row">
                <div class="col">
                  <input type="text" class="form-control" name="phone_no" placeholder="Phone Number">
                </div>
                <div class="col">
                  <input type="text" class="form-control" name="name" placeholder="Full name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" name="addr" placeholder="Address">
                </div>
                <div class="col">
                  <input type="text" class="form-control" name="social_media" placeholder="Social media (@example)">
                </div>
                <div class ="col">
                  <button type="submit" class="btn btn-primary">Add Entry</button>
                </div>
              </div>
      <a href ="/">return to home</a>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>